html, body{
    max-width: 100%;
    overflow-x: hidden !important;
}
header{
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../img/cover2.jpg");
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    background-position: center;
}
section{
    width: 100%;
}
.btnLogin{
    width: 150px;
    font-weight: 500;
    background-color: #017A99;
    border: 1px solid #017A99;
    color: white;

}
.btnLogin:hover{
    background-color: white;
    color: #017A99;
    border: 1px solid #017A99;

}
.fa-user{
    color: #017A99;
}
.nav-link{
    color: black !important;
    font-weight: 500;
    font-size: 20px;
}
.activeLink{
    color: #017A99 !important;
}
.phoneLink{
    font-size: 20px;
}

.banner{
    margin-left:8%;
    margin-top: 8%;
}

.textBanner{
    font-size: 22px;
    
}
.btnBanner{
    width: 250px;
    padding: 2%;
    font-weight: 500;
    background-color: #017A99;
    border: 1px solid #017A99;
    color: white;
    margin-left: auto;
}
.btnBanner:hover{
    background-color: white;
    color: #017A99;
    border: 1px solid #017A99;
  
}
.hSpan{

    background-color: #017A99;
}
.cardItems{
  padding: 5%;
 
}
.fa-stack{
    color: #017A99;
}
.spanKat{
    background-color: #017A99;
    padding: 2%;
    border-radius: 30px;
    color: white;
    font-weight: 400;
}
.about{
    padding: 1%;
    display: flex;
    justify-content: center;

}
.aboutLeft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    padding-left: 5%;
}
.aboutLeft h1{
    color: #017A99;
    font-size: 45px;
   
}
.aboutLeft h2{
    color: #017A99;
    font-size: 40px;
    font-weight: 700; 
}
.aboutLeft p{
    color: #017A99;
    font-size: 20px;

}
.aboutRight{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
  
}

.aboutRight .article img{
    width: 300px;
    height: 300px;
    margin-top: 1rem;
    margin-right: 1rem;

}

.desc{
    padding-top: 50px;
}
.desc h2{
    margin: 20px 20px;
}
.desc p{
    font-size: 18px;
    margin: 20px 20px;
}
#footerTop{
    background-color: #017A99;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
   min-height: 150px;

}
#footerTop h2{
 font-size: 25px;
}
.btnFooterTop{
    background-color: white;
  }  

#map {
    width: 100%;
    height: 400px;
}

#map img{
    width: 100%;
    height: 100%;
}
  .textFooter{
      font-size: 23px;
  }
  .btnFooter{
      /*background-color: white;*/
      border: 1px solid #017A99;
      color: #017A99;
      font-weight: 600;
  }
  .right{
      text-align: right;
      color: #017A99;
  }
  .copyright{
        padding: 1%;
      font-size: 22px;
      color: white;
      background-color: #017A99;
  }
  .rowFooter{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .footerLogo{
    width: 200px;
    height: 130px;

}
.footerLogo img{
    width: 100%;
    height: 100%;

}

  /* LOGIN */
.containerLogin{
    width: 100%;
    padding: 5%;
}
  .form{
      border: 1px solid rgba(0, 0, 0, 0.171);
      padding: 3%;
      border-radius: 10px;
  }
  .btnSubmitLogin{
      width: 100%;
      height: 40px;
      background-color: #017A99;
      color: white;
      border: 1px solid #017A99;
      border-radius: 5px;
  }
  .btnSubmitLogin:hover{
    background-color: white;
   color: #017A99;
   border: 1px solid #017A99;
}
  .btnAnonymous{
      width: 100%;
      background-color: white;
      color: #017A99;
      border: 1px solid #017A99
  }
  .btnAnonymous:hover{

    background-color: #017A99;
    color: white;
    border: 1px solid #017A99
}
.ce{
    text-align: center;
    align-items: center;
    margin: 0% 48%;
}

.imgLogin{
   
    width: 100%;
   
}
/* DOCTOR */
.doctors{
    padding: 7%;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #017A99;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #017A99;
    bottom: 0;
    left: calc(50% - 20px);
}
.doctor-title {
    text-align: center;
    padding-bottom: 30px;
}
.doctor-title h2 {
    font-size: 32px;

    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: black;
}

.doctor-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 4px;
    background: #017A99;
    bottom: 0;
    left: calc(50% - 20px);
}
.member{
    position: relative;
    box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.426);
    border-radius: 10px;
}

.pic img {
    border-radius:50%;
    margin: 30px 10px;
}
.booking {
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
    background: #017A99;
    border: 1px solid #017A99;
}
.booking:hover {
    background-color: #fff;
    color: #017A99;
    border: 1px solid #017A99;
}

.member-info{
    padding:15px 15px
}
.member-info h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 22px;
    color: #2c4964;
}

 .member-info p {
    font-size: 18px;
}
.doctors .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}


/* CONTACT */

.contact{
    width: 100%;
    
    padding: 2%;
}
.card-body{
   border: 1px solid rgba(0, 0, 0, 0.358);
   border-radius: 10px;
}
.head{
    background-color: #017A99;
    border-radius: 10px;
    padding: 2%;
    color: white;
    margin-top: -3rem;
    -webkit-box-shadow: 5px 5px 10px -2px #017A99;
    -moz-box-shadow: 5px 5px 10px -2px  #017A99;
    box-shadow: 5px 5px 10px -2px  #017A99;
}

.input{
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 2px solid #ccc;
}

#btnContact{
    width: 100%;
    background-color: #017A99;
    color: white;
    height: 40px;
    font-size: 18px;
    -webkit-box-shadow: 5px 5px 10px -2px #017A99;
    -moz-box-shadow: 5px 5px 10px -2px  #017A99;
    box-shadow: 5px 5px 10px -2px  #017A99;
    font-weight: 600;
    border: 1px solid #017A99;
    border-radius: 5px;
}
#btnContact:hover{
    width: 100%;
    background-color: white;
    color: #017A99;
   
    -webkit-box-shadow: 5px 5px 10px -2px #017A99;
    -moz-box-shadow: 5px 5px 10px -2px  #017A99;
    box-shadow: 5px 5px 10px -2px  #017A99;
}

.error{
    color: red;
    font-style: italic;
}
/* end contact*/

/*doctor */

.table{
    border:1px solid rgba(0, 0, 0, 0.068);
    padding: 1%;
   
}

#table{
  
    overflow-x : auto;
}
.termin.td{
    background-color: aqua;
}

.doctor-img img{
    width: 100%;
    height: 100%;
}
.widget-selected{
    color: white;
    background-color: #017A99 !important;
}
.btn-box{
    background-color: aqua;
    position: relative;
}

.btnTermin{
    padding: 10px 20px;
    background-color: #017A99;
    color: white;
    position: absolute;
    right: 0;
    text-decoration: none !important;
}
.btnTermin:hover{
    background-color: white;
    color: #017A99;
   border: 1px solid #017A99;
}
/* PAYMENT */
.blue-banner{
    background-color: #017A99;
    color: white;
    padding: 20px 100px;
}
.card{
    border: none;
}
.card-header{
    background: none !important;
    padding: 1%;
    border-bottom: none !important;
}
.info-widget {
   border-radius: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.card-label > label {
    background-color: #fff;
    color: #959595;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    margin: 6px auto auto 8px;
    padding: 0 7px;
}
.card-label > input {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05);
    display: block;
    height: 50px;
    margin-top: -13px;
    padding: 5px 15px 0;
    transition: border-color .3s;
    width: 100%;
}
.exist-customer a {
	color: #017A99;
	font-weight: 500;
}
.payment-widget .payment-list + .payment-list {
	margin-bottom: 15px;
}
.payment-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 600;
    color: #272b41;
    
}
.payment-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.payment-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 19px;
    height: 19px;
    margin: 3px 0 0 0;
    border: 2px solid #ddd;
        border-top-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-bottom-color: rgb(221, 221, 221);
        border-left-color: rgb(221, 221, 221);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

}
.payment-radio input:checked ~ .checkmark {
    border-color: #017A99;
}
.payment-radio .checkmark::after {
    position: absolute;
    left: 3px;
    top: 3px;
    content: '';
    width: 9px;
    height: 9px;
    background-color:#017A99;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.payment-radio input:checked ~ .checkmark::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.boototal-costking-date {
    padding: 0;
    list-style: none;
}
.booking-date li {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #272b41;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.booking-date li span {
    float: right;
    color: #757575;
    font-weight: 400;
    font-size: 15px;
}
.booking-total {
    border-top: 1px solid #e4e4e4;
    margin-top: 20px;
    padding-top: 20px;
}
.booking-total ul {
	padding: 0;
	list-style: none;
	margin: 0;
}
.booking-total ul li span {
    font-size: 18px;
    font-weight: 600;
    color: #272b41;
}
.booking-total ul li .total-cost {
    color: #017A99;
    font-size: 16px;
    font-weight: 700;
    float: right;
}
.booking-info{
    padding: 10px;
}
.booking-info a{
   color: #017A99;
   text-decoration: none;
}
.booking-doc-img{
    background-color: #017A99;
  
}
.booking-doc-info{
    display: flex;
 flex-direction: column;
 align-items: center;

}
.booking-doc-info img{
    width: 300px;
    height: 300px;

}
.btnPayment{
    background-color: #017A99;
    color: white;
}
.btnPayment:hover{
    background-color: white;
    color: #017A99;
    border: 1px solid #017A99;

}

/* SEARCH DOCTOR */
.category{
    background-color: #017A99;
border-radius: 10px;
    color: rgb(255, 255, 255);
    height: 500px;
}

.btnSearch{
    background-color: white;
    color: #017A99;
    font-weight: 700;
    margin-top:20px;
    width:100%;

}
.btnSearch:hover{
    background-color: rgba(199, 199, 199, 0.742);
    color: white;
    border: 1px solid #017A99;


}
.filter-widget {
	margin-bottom: 20px;
}
.filter-widget h4 {
	font-size: 1rem;
	margin-bottom: 15px;
}
.filter-widget .custom_check {
	line-height: 18px;
}

.doctor-widget {
	display: flex;
    justify-content: space-around;
}
.doc-info-left {

	display: flex;
}

.doctor-image {
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    margin-right: 20px;
    width: 150px;
}
.doctor-image img {
	border-radius: 5px;
}

.doctor-widget .doc-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 3px; 
    width: 100%;
}
.doctor-widget .doc-name a{
    color: #017A99;
    text-decoration: none;
}
.doc-speciality {
    font-size: 14px;
    color: #757575;
    margin-bottom: 15px;
}
.doctor-widget .rating i {
	font-size: 14px;
 
}

.doctor-widget .average-rating {
	font-size: 16px;
	font-weight: 500;
}

.clinic-services {
    color: #272b41;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    font-size: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.clinic-services span {
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    padding: 3px 5px;
}

.clini-infos {
    margin-bottom: 15px;
}
.clini-infos ul {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
}
.clini-infos ul li {
    display: block;
    line-height: 30px;
    color: #4E4852;
}
.clini-infos ul li i {
    font-size: 15px;
    min-width: 30px;
}
.clinic-booking a + a {
	margin-top: 15px;
}
.clinic-booking a {
    background-color: #fff;
    border: 2px solid #017A99;
    border-radius: 4px;
    color: #017A99;
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    text-decoration: none;
}
.clinic-booking a.view-pro-btn:hover, .clinic-booking a.view-pro-btn:focus {
	background: #017A99;
	color: #fff;
}
.clinic-booking a.apt-btn {
    background-color: #017A99;
    color: #fff;
}
.clinic-booking a.apt-btn:hover, .clinic-booking a.apt-btn:focus {
	background-color: #017A99;
	border-color: #017A99;
	color: #fff;
}
.load-more {
	margin-bottom: 30px;
    background-color: #017A99;
    color: white;
    font-weight: 700;
}

.form-check-input{
    margin-left: 50px !important;

}
.form-check-label{
    margin-left: 10px !important;
}

/*END DOCTOR SEARCH */

/* ADMIN PANEL */
.sidebar {
    background-color: #ffffffbe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 60px;
}

.sidebar-menu ul {
	font-size: 22px;
	list-style-type: none;

	padding-top: 20px;
    margin-top: 20px;
	position: relative;
}
.sidebar-menu li a {
	color: #017A99;
	display: block;
	font-size: 18px;
	height: auto;
	padding: 5px 20px;
    text-decoration: none;

}
 .sidebar-menu li:hover {
background-color: #017A99;
width: 80%;
color: white;
border-radius: 2px;

}
.sidebar-menu li a:hover {
    color: white;
    
    }
.menu-title{
    font-size: 25px;
    font-weight: 600;
    color: #2c4964;
}
.main-wrapper {
	width: 100%;
	height: 100vh;
	min-height: 100vh;
    background-color: rgba(16, 16, 16, 0.666);
}
.page-wrapper {
	padding-top: 5px;
	position: relative;
	transition: all 0.4s ease;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.page-title {
    color: #333;
    margin-bottom: 5px;
}
#table{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

#table thead tr th{
    font-size: 25px;
    font-weight: 600;
    color: #2c4964;

}
.table-avatar{
    font-size: 18px;
   padding-top: 10px;
}
.table-avatar a{
    color: #017A99;
}
.table-time{
    color:#017A99;
    font-weight: 600;
}
.table-specialist p{
    margin-top: 10px !important;
    font-size: 18px;
 
}
.check{
    width: 18px;
    height: 18px;
    margin-left: 25px;
}
/*END ADMIN PANEL */

/*Admin Panel - kategory */
.table-edit-delete{
    font-size: 18px;
    padding-top: 15px;
}
.table-edit-delete a{
    color: #017A99;
    margin-left: 10px;
    text-decoration: none;
}
.add{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add a{
   color: #017A99;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #017A99;
}
.add a:hover{
     color: white;
     border:1px solid white;
     color: white;
     background-color: #017A99;
 }
.edit{
    background-color: rgba(15, 183, 107,0.12) !important;
    color: #26af48 !important;
    padding: 2%;
    border-radius: 5px;
}
.delete{
    background-color: rgba(242, 17, 54,0.12) !important;
    color: #e63c3c !important;
    padding: 2%;
    border-radius: 5px;
}
.zoom{
    background-color: rgba(2, 137, 182, 0.12) !important;
    color: #1d97b9 !important;
    padding: 2%;
    border-radius: 5px;
}
#jitsi-container{
    overflow-x: auto;
}
#start{
    background-color: #017A99;
    color: white;
    border: 1px solid #017A99;
    padding:10px;
    margin-bottom: 10px;
}


.input.group-append{
    cursor: pointer;
}
.pac-widget{
    margin-bottom: 0px!important;
}

.modal-title{
    color: #017A99;
}
.modal-footer .btnEdit{
    background-color: #017b9965;
    color: #017A99;
    padding: 2%;
    border-radius: 5px;
    font-weight: 700;
}

/*PROFIL */

.booking-pac-img img{
    width: 150px;
        height: 150px
}
/* PROFIL END */
.control-box{
    font-size: 25px;
}
.control-box a{
    text-decoration: none;
    color: #017A99;
    margin-left: 10px;
}

/*MEDIA */


@media (max-width:1350px) {
    .aboutRight{
        padding: 0%;
    }
    .aboutRight .article img{
    width: 200px;
    height: 200px;
    margin-left: 10%;
    }

}

@media (max-width : 1200px) {
    .nav-link{
        font-size: 17px;
    }
    .booking-doc-info img{
        width: 200px;
        height: 200px;
    
    }
    
}
@media (max-width:1100px) {
    .aboutLeft h1{
        font-size: 30px;
       
    }
    .aboutLeft h2{
        font-size: 30px;
    }
    .aboutLeft p{
        font-size: 15px;
    
    }
    .aboutRight .article img{
    width: 200px;
    height: 200px;
    margin-top: 5%;
    }


}    
@media (max-width:1000px) {
    .descImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:900px) {
    .aboutLeft h1{
        font-size: 25px;
       
    }
    .aboutLeft h2{
        font-size: 20px;
    }
    .aboutLeft p{
        font-size: 12px;
    
    }
    .aboutRight .article img{
    width: 150px;
    height: 150px;
    margin-top: 5%;
    }
    .booking-pac-img img{
        width: 100px;
            height: 100px
    }

}
@media (max-width:800px) {
   .clinic-booking a {
       font-size: 10px;
    padding: 5px 10px;
    }
    .booking-doc-info img{
        width: 300px;
        height: 300px;
    
    }
    .booking-pac-img img{
        width: 300px;
            height: 300px
    }

}

@media (max-width:720px) {
   .about{
       flex-direction: column;
   }
   #map{
      display: none;
   }
 
   .footerLogo{
       width: 150px;
       height: 100px;
   }
   .footerText{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
        .textFooter{
    font-size: 18px;
    text-align: center;
    }
}

@media (max-width:550px) {
    .doctor-widget {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .doc-info-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 .doctor-image {
    flex: 0 0 400px;
    width: 400px;
   text-align: center;
    }
    .member{
        display: flex;
        flex-direction: column;
    }
    .pic{
        margin: 10px 40px;
    }
 }

 @media (max-width:450px) {
   
 .doctor-image {
    flex: 0 0 200px;
    width: 200px;
   text-align: center;
    }
    .blue-banner {
        padding: 20px 15px;
    }
    .blue-banner h1{
        font-size: 20px;
    }
    #footerTop {
        flex-direction: column;
    }
    #footerTop h2{
        font-size: 20px;
      
    }
   .footerText h4{
    font-size: 20px;
    text-align: center;
    }

    .pic{
        margin: 10px 20px;
    }

 }
 
 @media (max-width:400px) {
 .booking-doc-info img{
    width: 220px;
    height: 220px;
    }
    .booking-pac-img img{
        width: 150px;
            height: 150px
    }

 }